@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(255 255 255 / 15.6%);
  --box-shadow:
    5px 5px 10px rgb(0 0 0 / 20%), -5px -5px 10px rgb(27 44 96 / 33.2%);
  --bg-gradient:
    linear-gradient(
      285deg,
      rgb(57 57 57 / 4%) 0%,
      rgb(57 57 57 / 4%) 25%,
      rgb(126 126 126 / 4%) 25%,
      rgb(126 126 126 / 4%) 50%,
      rgb(80 80 80 / 4%) 50%,
      rgb(80 80 80 / 4%) 75%,
      rgb(117 117 117 / 4%) 75%,
      rgb(117 117 117 / 4%) 100%
    ),
    linear-gradient(
      333deg,
      rgb(26 26 26 / 4%) 0%,
      rgb(26 26 26 / 4%) 25%,
      rgb(154 154 154 / 4%) 25%,
      rgb(154 154 154 / 4%) 50%,
      rgb(218 218 218 / 4%) 50%,
      rgb(218 218 218 / 4%) 75%,
      rgb(91 91 91 / 4%) 75%,
      rgb(91 91 91 / 4%) 100%
    ),
    linear-gradient(
      45deg,
      rgb(14 14 14 / 4%) 0%,
      rgb(14 14 14 / 4%) 25%,
      rgb(216 216 216 / 4%) 25%,
      rgb(216 216 216 / 4%) 50%,
      rgb(44 44 44 / 4%) 50%,
      rgb(44 44 44 / 4%) 75%,
      rgb(111 111 111 / 4%) 75%,
      rgb(111 111 111 / 4%) 100%
    ),
    linear-gradient(
      251deg,
      rgb(27 27 27 / 4%) 0%,
      rgb(27 27 27 / 4%) 25%,
      rgb(107 107 107 / 4%) 25%,
      rgb(107 107 107 / 4%) 50%,
      rgb(167 167 167 / 4%) 50%,
      rgb(167 167 167 / 4%) 75%,
      rgb(34 34 34 / 4%) 75%,
      rgb(34 34 34 / 4%) 100%
    ),
    linear-gradient(
      63deg,
      rgb(114 114 114 / 4%) 0%,
      rgb(114 114 114 / 4%) 25%,
      rgb(16 16 16 / 4%) 25%,
      rgb(16 16 16 / 4%) 50%,
      rgb(190 190 190 / 4%) 50%,
      rgb(190 190 190 / 4%) 75%,
      rgb(159 159 159 / 4%) 75%,
      rgb(159 159 159 / 4%) 100%
    ),
    linear-gradient(90deg, rgb(44 69 142), rgb(133 17 234));
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.active {
  background-color: rgb(96 167 226 / 45.1%);
  border-radius: 8px;
}
.intro-div{
  width: 100%;
  margin: auto 0;
}

.intro-p{
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}

         /* sidebar-mini*/
.sidebar-mini-container{
  width: 20%;
  height: 100%;
}

.sidebar.sidebar-mini{
  width: 25%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}

.sidebar-mini .sidebar-menu ul li {
  padding: 20px 8px 20px 18px;
  gap: 30px;
}
.mini-header{
  background-color: var(--bg-gradient);
  padding:20px 10px;
}
.sidebar-mini .sidebar-footer {
  padding: 20px 0 35px 26px;
} 

       /* ---------------- */


       /* sidebar */

.sidebar {
  height: 100%;
  width: 20%;
  border-radius: 0 20px 20px 0;
  background-color: rgb(0 0 0 / 8.9%);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
  overflow: hidden;
}
.sidebar .sidebar-header {
  background-color: var(--bg-gradient);
  padding: 30px;
  border-radius: 0 20px 0 0;
  font-size: 32px;
  font-weight: 600;
  color: #ddd;
}

.profile-div {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--bg-color);
}

.profile-div h1 {
  font-size: 26px;
  color: #ccc;
}

.profile-div img {
  border-radius: 50%;
  border: 2px solid #ccc;
}

.sidebar-menu ul {
  list-style: none;
  margin: 50px 10px;
}

.sidebar-menu ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  padding: 20px 40px;
  gap: 30px;
  cursor: pointer;
  color: white;
}

a {
  text-decoration: none;
}

.sidebar-menu ul li:hover {
  background-color: rgb(96 167 226 / 12.7%);
  border-radius: 8px;
}

.sidebar-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 30px;
  padding: 20px 0 30px 60px;
  margin: 140px auto 0;
  background-color: var(--bg-color);
  gap: 30px;
  color: #ccc;
}

.main-container {
  display: flex;
  text-align: center;
  width: 100%;
  height: 100%;
  background-image: var(--bg-gradient);
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

h1 {
  padding: 5px;
  color: #fff;
  font-size: 26px;
}

.liquid-container {
  margin: 0 auto;
  width: 100%;
}

.container {
  display: flex;
  width: 80%;
}

.container .wallet-div {
  width: 40%;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  padding: 20px;
  margin: 40px 0 0 200px;
  border-radius: 20px;
}
           /*  home container  */
.home-container{
  display: flex;
}

.subscription-div {
  box-shadow: var(--box-shadow);
  width: 960px;
  height: 380px;
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
  margin: 50px 0 0 80px;
  border-radius: 10px;
  padding: 20px 10px;
}

.subscription-div hr {
  margin-bottom: 30px;
}

.subscription-div .table-container {
  width: 100%;
  height: 250px;
  overflow: auto;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.subscription-div .table-container::-webkit-scrollbar {
  width: 10px;
}

.subscription-div .table-container::-webkit-scrollbar-thumb {
  background-color: #9f9d9d;
  border-radius: 10px;
}

.subscription-div table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid transparent;
  background-color: rgb(0 0 0 / 17.3%);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  overflow: auto;
  box-shadow:
    5px 5px 10px rgb(0 0 0 / 20%),
    -5px -5px 10px rgb(0 0 0 / 20%);
}

.subscription-div table th,
.subscription-div table td {
  border-bottom: 1px solid #333;
  padding: 8px 10px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
}

.subscription-div table th {
  color: #333;
  padding: 8px 10px;
}

#wallet-balance {
  font-size: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px 0 0;
  font-weight: 900;
  color: rgb(255 255 255);
  height: 200px;
  text-shadow: 4px 4px 6px rgb(0 0 0 / 20%);
}

.add-amount-btn {
  margin: -20px 0 20px;
  padding: 10px;
}

button {
  background-color: rgb(17 80 132);
  color: aliceblue;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}

.add-amount-div {
  padding: 40px 0 0 0;
  text-align: center;
  margin-top: -40px;
}

.add-amount-div label {
  font-size: 18px;
}

.add-amount-div button {
  margin-top: 5px;
}

#add-amount-input {
  width: 80px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid rgb(96 168 226);
}

/* Expired Payments  */

.expired-payments {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 650px;
  margin: 43px 0 0 -360px;
  height: 340px;
  font-size: 20px;
  border-radius: 10px;
  overflow: auto;
  color: #ddd;
  scrollbar-width: none;
}

.title {
  font-size: 24px;
  text-align: left;
  padding: 5px;
  text-wrap: nowrap;
}

.expired-payments ul {
  list-style: none;
  padding: 6px;
}

.expired-payments ul li {
  display: flex;
  justify-content: flex-start;
  gap: 140px;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.expired-payments ul li:hover {
  background-color: rgb(0 0 0 / 30%);
  border-radius: 10px;
}

.expired-payments ul li .expired-plan {
  display: flex;
  position: absolute;
  right: 10px;
  flex-direction: column;
  align-items: flex-end;
}

.expired-payments ul li p:first-of-type {
  text-align: left;
  font-size: 22px;
  text-wrap: nowrap;
  color: #fff;
}

.expired-payments ul li p:nth-of-type(2) {
  text-align: left;
  font-size: 16px;
  color: #c4bdbd;
}

.payment-expired {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* Payment methods  */

.payment-methods {
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  padding: 20px;
  width: 350px;
  height: 380px;
  margin: -50px 0 0 60px;
  border-radius: 10px;
  color: #ddd;
}

.payment-methods ul {
  list-style: none;
  margin: 15px;
  font-size: 24px;
}

.payment-methods ul li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 10px;
}

.payment-methods ul li:hover {
  background-color: rgb(0 0 0 / 30%);
  border-radius: 10px;
}

/* -------------------------- */

/* Add-subscription page  */

.create-page-container,
.edit-page-container {
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
  height: 100%;
  padding: 30px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 12px;
  margin: 100px auto 0;
  text-align: left;
  width: 58%;
}

.create-page-container label,
.edit-page-container label {
  color: #333;
}

.create-page-container .label,
.edit-page-container .label {
  margin: 30px 10px;
  color: #ddd;
  font-size: 22px;
}

.create-page-container input,
.edit-page-container input {
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  margin: 15px;
  border: 2px solid #949191;
}

.create-page-container .add-button,
.edit-page-container .edit-button {
  margin: 30px auto 10px 250px;
  padding: 10px 15px;
  font-size: 20px;
}

.create-page-container .add-button {
  margin: 30px auto 10px 220px;
}

.cancel-button {
  background-color: steelblue;
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 20px;
}

/* transaction history */

.transactions-container {
  margin: 100px auto 0;
  position: relative;
  padding: 30px;
  width: 90%;
  height: 550px;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
}

.transactions-container hr {
  margin: 0 0 50px;
}

.transactions-container .table-container {
  width: 100%;
  height: 300px;
  overflow: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.transactions-container .table-container::-webkit-scrollbar {
  width: 10px;
}

.transactions-container .table-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.transactions-container table {
  border-collapse: collapse;
  border-radius: 8px;
  width: 100%;
  background-color: #cbcbcb36;
}

.transactions-container table th,
.transactions-container table td {
  border: 1px solid #afabab;
  padding: 15px;
  font-size: 20px;
  color: #eceaea;
  font-weight: 600;
  text-align: center;
  text-wrap: nowrap;
}
.transactions-container table td:first-of-type{
  text-align: left;
}
.transactions-container table td:nth-of-type(4){
  text-align: left;
}

.transactions-container table th {
  color: #333;
  padding: 10px 12px;
}

table tbody tr:hover {
  background-color: rgb(0 0 0 / 30%);
  border-radius: 10px;
}

       /* power type filter  */
.power-type-filter{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  gap: 10px;
  margin:-20px 50px 40px 0;
}
.power-type-filter label{
  color: #fff;
  font-size: 20px;
}
.ember-basic-dropdown-trigger{
  width: 120px;
  border:2px solid #ccc;
  background-color: var(--bg-color);
  border-radius: 5px;
  padding: 4px 6px;
  cursor: pointer;
  font-size: 18px;
}

#ember-basic-dropdown-wormhole .ember-view{
  position: absolute;
  top: 260px;
  right:900px;
  border: 2px solid #ccc;
  background-color:var(--bg-color);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  height: 100px;
  overflow: auto;
  text-align: center;
}
#ember-basic-dropdown-wormhole .ember-view::-webkit-scrollbar {
  width: 10px;
}

#ember-basic-dropdown-wormhole .ember-view::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

#ember-basic-dropdown-wormhole .ember-view ul{
  list-style: none;
  margin: 0;
}
#ember-basic-dropdown-wormhole .ember-view ul li{
  border-bottom:1px solid #333;
  padding: 4px 8px;
  cursor: pointer;
}
#ember-basic-dropdown-wormhole .ember-view ul li:hover{
  background-color: #33333364;
  color: #ddd;
}